In [6]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))
!curl -O https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  6 7125k    6  446k    0     0   688k      0  0:00:10 --:--:--  0:00:10  688k
100 7125k  100 7125k    0     0  5197k      0  0:00:01  0:00:01 --:--:-- 5200k

In [7]:
import sqlite3
import os
import pyspark.sql.functions as f
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, FloatType, DateType, StringType

In [8]:
# Create connection to the database file and the cursor to manage it 
con = sqlite3.connect(os.path.join('dev','cademycode.db'))
cur = con.cursor()

In [9]:
# Store the table names from the database
table_names = cur.execute('''SELECT name FROM sqlite_master''').fetchall()
print(table_names)

[('cademycode_students',), ('cademycode_courses',), ('cademycode_student_jobs',)]

In [10]:
# Create spark session
spark = SparkSession.builder \
        .appName('EDA') \
        .master('local[6]') \
        .config(
        "spark.jars",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd())) \
        .config(
        "spark.driver.extraClassPath",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd())) \
        .getOrCreate()

In [11]:
# Create list with column names
student_columns = ['uuid', 'name', 'birthdate', 
                   'sex', 'contact_info', 'job_id', 
                   'courses_count', 'career_path_id', 'hours_spent']

# Create pyspark dataframe object using the queried information
student_df = spark.createDataFrame(cur.execute('''SELECT * FROM cademycode_students''').fetchall(),student_columns)
student_df.show()

# Show the dtypes which were assigned
print(student_df.dtypes)

+----+--------------------+----------+---+--------------------+------+-------------+--------------+-----------+
|uuid|                name| birthdate|sex|        contact_info|job_id|courses_count|career_path_id|hours_spent|
+----+--------------------+----------+---+--------------------+------+-------------+--------------+-----------+
|   1|     Annabelle Avery|1943-07-03|  F|{"mailing_address...|   7.0|          6.0|           1.0|       4.99|
|   2|         Micah Rubio|1991-02-07|  M|{"mailing_address...|   7.0|          5.0|           8.0|        4.4|
|   3|          Hosea Dale|1989-12-07|  M|{"mailing_address...|   7.0|          8.0|           8.0|       6.74|
|   4|        Mariann Kirk|1988-07-31|  F|{"mailing_address...|   6.0|          7.0|           9.0|      12.31|
|   5|     Lucio Alexander|1963-08-31|  M|{"mailing_address...|   7.0|         14.0|           3.0|       5.64|
|   6|    Shavonda Mcmahon|1989-10-15|  F|{"mailing_address...|   6.0|         10.0|           3.0|      10.12|
|   7| Terrell Bleijenberg|1959-05-05|  M|{"mailing_address...|   2.0|          9.0|           8.0|      24.17|
|   8|      Stanford Allan|1997-11-22|  M|{"mailing_address...|   3.0|          3.0|           1.0|      19.54|
|   9|     Tricia Delacruz|1961-10-20|  F|{"mailing_address...|   1.0|          6.0|           9.0|       1.75|
|  10|Regenia van der Helm|1999-02-23|  N|{"mailing_address...|   5.0|          7.0|           6.0|      13.55|
|  11|    Shonda Stephanin|1998-10-24|  F|{"mailing_address...|   7.0|          5.0|          10.0|      12.61|
|  12|    Marcus Mcfarland|1977-05-29|  M|{"mailing_address...|   7.0|          3.0|           6.0|       9.12|
|  13|   Edwardo Boonzayer|1975-05-23|  N|{"mailing_address...|   2.0|         15.0|           5.0|       6.09|
|  14|      Robena Padilla|1969-01-15|  F|{"mailing_address...|   3.0|          5.0|           9.0|      15.92|
|  15|        Tamala Sears|1942-06-01|  F|{"mailing_address...|   7.0|         13.0|           1.0|       4.64|
|  16|       Norene Dalton|1976-04-30|  F|{"mailing_address...|   6.0|          0.0|          null|       null|
|  17|      Maris Benskoop|1965-08-10|  F|{"mailing_address...|   5.0|          5.0|           4.0|      12.08|
|  18|    Yolande van Hees|1978-12-09|  F|{"mailing_address...|   7.0|         13.0|           9.0|      34.44|
|  19|      Dominic Werner|1973-09-29|  M|{"mailing_address...|   5.0|         14.0|           8.0|      22.84|
|  20|Sofia van Steenbe...|1990-02-21|  N|{"mailing_address...|   7.0|         13.0|          null|       null|
+----+--------------------+----------+---+--------------------+------+-------------+--------------+-----------+
only showing top 20 rows

[('uuid', 'bigint'), ('name', 'string'), ('birthdate', 'string'), ('sex', 'string'), ('contact_info', 'string'), ('job_id', 'string'), ('courses_count', 'string'), ('career_path_id', 'string'), ('hours_spent', 'string')]

In [12]:
# Create list with column names
course_columns = ['career_path_id', 'career_path_name', 'hours_to_complete']

# Create pyspark dataframe using the data from the query
course_df = spark.createDataFrame(cur.execute('''SELECT * FROM cademycode_courses''').fetchall(),course_columns)
course_df.show()

print(course_df.dtypes)

+--------------+--------------------+-----------------+
|career_path_id|    career_path_name|hours_to_complete|
+--------------+--------------------+-----------------+
|             1|      data scientist|               20|
|             2|       data engineer|               20|
|             3|        data analyst|               12|
|             4|software engineering|               25|
|             5|    backend engineer|               18|
|             6|   frontend engineer|               20|
|             7|       iOS developer|               27|
|             8|   android developer|               27|
|             9|machine learning ...|               35|
|            10|      ux/ui designer|               15|
+--------------+--------------------+-----------------+

[('career_path_id', 'bigint'), ('career_path_name', 'string'), ('hours_to_complete', 'bigint')]

In [13]:
# Create list with column names
job_columns = ['job_id', 'job_category', 'avg_salary']

# Create PySpark dataframe from query
job_df = spark.createDataFrame(cur.execute('''SELECT * FROM cademycode_student_jobs''').fetchall(),job_columns)
job_df.show()

print(job_df.dtypes)

+------+------------------+----------+
|job_id|      job_category|avg_salary|
+------+------------------+----------+
|     1|         analytics|     86000|
|     2|          engineer|    101000|
|     3|software developer|    110000|
|     4|          creative|     66000|
|     5|financial services|    135000|
|     6|         education|     61000|
|     7|                HR|     80000|
|     8|           student|     10000|
|     9|        healthcare|    120000|
|     0|             other|     80000|
|     3|software developer|    110000|
|     4|          creative|     66000|
|     5|financial services|    135000|
+------+------------------+----------+

[('job_id', 'bigint'), ('job_category', 'string'), ('avg_salary', 'bigint')]

In [14]:
cur.close()
con.close()

The following steps will be needed to clean the data
1. Extract the email and address for each student stores inside the _5 column dictionaries
2. Check for null values in the dataframes
3. Change dtype for the student_df dataframe to the following:
    * birthdate which is a date type format to a datetime dtype
    * Columns 'job_id', 'courses_count', 'career_path_id', 'hours_spent' from string to float
4. Remove duplicates from all dataframes

## student_df transformations
This section will explode the json from the contact_info column into two different columns into a new dataframe named studend_address_df.
From it,4 new columns called street, city, state and zipcode will be extracted.

This will also create a new columned named year which extracts the birthdate year into a new column for easier use in further operations

Aditionally, the missing values will be extracted and stored in a separate dataframe for futher analytics.

Once there are no missing values, the dtypes for each column will be adjusted

In [15]:
# Create a new pyspark dataframe which contains the following:
    # uuid to use in the join
    # mailing address which is extracted from the dictionary
    # email address which is extracted from the dictionary
    
student_address_df = student_df.select(
                student_df.uuid.alias('student_uuid'),
                f.get_json_object(student_df.contact_info, '$.mailing_address').alias("mailing_address"),
                f.get_json_object(student_df.contact_info, '$.email').alias("email_address"))
student_address_df.show()

+------------+--------------------+--------------------+
|student_uuid|     mailing_address|       email_address|
+------------+--------------------+--------------------+
|           1|303 N Timber Key,...|annabelle_avery93...|
|           2|767 Crescent Fair...| rubio6772@hmail.com|
|           3|P.O. Box 41269, S...|hosea_dale8084@co...|
|           4|517 SE Wintergree...|  kirk4005@hmail.com|
|           5|18 Cinder Cliff, ...|alexander9810@hma...|
|           6|P.O. Box 81591, T...|shavonda5863@cold...|
|           7|P.O. Box 53471, O...|bleijenberg188@hm...|
|           8|255 Spring Avenue...|stanford_allan805...|
|           9|997 Dewy Apple, L...|tricia_delacruz66...|
|          10|220 Middle Ridge,...|regenia6908@inloo...|
|          11|818 Clear Street,...|shonda_stephanin4...|
|          12|718 Embers Lane, ...|mcfarland1396@woo...|
|          13|147 SW Plain, Sol...|edwardo8281@inloo...|
|          14|P.O. Box 73926, M...|robena_padilla147...|
|          15|868 Hazy Crossing...|tamala4408@woohoo...|
|          16|130 Wishing Essex...|norene_dalton9509...|
|          17|P.O. Box 93831, S...| maris5817@hmail.com|
|          18|460 Dusty Kennedy...|vanhees6330@wooho...|
|          19|P.O. Box 70430, L...|werner3867@coldma...|
|          20|634 Clear Barn De...|vansteenbergen848...|
+------------+--------------------+--------------------+
only showing top 20 rows

In [16]:
# Split the address string into separate parts
student_address_df = student_address_df.withColumn("split_col", f.split(student_address_df["mailing_address"], ","))

# Combine the first three elements of the split_col list into the "street" column
student_address_df = student_address_df.withColumn("street", f.array_join(f.slice(student_address_df["split_col"],1,1),' '))

# Extract the city, state, and zipcode from the split_col list and create separate columns
student_address_df = student_address_df.withColumn("city", f.array_join(f.slice(student_address_df["split_col"],2,1),' '))
student_address_df = student_address_df.withColumn("state", f.array_join(f.slice(student_address_df["split_col"],3,1),' '))
student_address_df = student_address_df.withColumn("zipcode", f.array_join(f.slice(student_address_df["split_col"],4,1),' '))

# Drop the split_col column
student_address_df = student_address_df.drop("split_col")

# Drop the mailing address column
student_address_df = student_address_df.drop("mailing_address")

In [17]:
# Show the resulting dataframe with the student contact information
student_address_df.show()

+------------+--------------------+--------------------+----------------+---------------+-------+
|student_uuid|       email_address|              street|            city|          state|zipcode|
+------------+--------------------+--------------------+----------------+---------------+-------+
|           1|annabelle_avery93...|    303 N Timber Key|        Irondale|      Wisconsin|  84736|
|           2| rubio6772@hmail.com|   767 Crescent Fair|          Shoals|        Indiana|  37439|
|           3|hosea_dale8084@co...|      P.O. Box 41269| St. Bonaventure|       Virginia|  83637|
|           4|  kirk4005@hmail.com|517 SE Wintergree...|            Lane|       Arkansas|  82242|
|           5|alexander9810@hma...|     18 Cinder Cliff|  Doyles borough|   Rhode Island|  73737|
|           6|shavonda5863@cold...|      P.O. Box 81591|  Tarpon Springs|        Montana|  37057|
|           7|bleijenberg188@hm...|      P.O. Box 53471|       Oskaloosa|       Virginia|  85274|
|           8|stanford_allan805...|   255 Spring Avenue|     Point Baker|          Texas|  15796|
|           9|tricia_delacruz66...|      997 Dewy Apple|    Lake Lindsey|     Washington|  78266|
|          10|regenia6908@inloo...|    220 Middle Ridge|  Falcon Heights|     New Mexico|  46971|
|          11|shonda_stephanin4...|    818 Clear Street|        Rockwood|          Maine|  14372|
|          12|mcfarland1396@woo...|     718 Embers Lane|            Dale| South Carolina|  19186|
|          13|edwardo8281@inloo...|        147 SW Plain|    Solana Beach|         Kansas|  01794|
|          14|robena_padilla147...|      P.O. Box 73926|  McLemoresville|       Maryland|  57372|
|          15|tamala4408@woohoo...|   868 Hazy Crossing|        Bethania|     Washington|  08205|
|          16|norene_dalton9509...|   130 Wishing Essex|          Branch|           Ohio|  13616|
|          17| maris5817@hmail.com|      P.O. Box 93831|  South Mountain|     Washington|  02481|
|          18|vanhees6330@wooho...|460 Dusty Kennedy...|         McBaine|     New Jersey|  41490|
|          19|werner3867@coldma...|      P.O. Box 70430|         Laramie|         Nevada|  56963|
|          20|vansteenbergen848...| 634 Clear Barn Dell|          Beaman|        Georgia|  33288|
+------------+--------------------+--------------------+----------------+---------------+-------+
only showing top 20 rows

In [18]:
# Join the contact information dataframe to the original dataframe and drop the join column to avoid duplicity
student_df = student_df.join(student_address_df, student_df.uuid == student_address_df.student_uuid).drop('student_uuid')
student_df = student_df.drop('contact_info')
student_df.show()

+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+
|uuid|                name| birthdate|sex|job_id|courses_count|career_path_id|hours_spent|       email_address|              street|                city|          state|zipcode|
+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+
|  26|       Doug Browning|1970-06-08|  M|   7.0|         null|           5.0|       1.92| doug7761@inlook.com|      P.O. Box 15845|              Devine|        Florida|  23097|
|  29|      Edgardo Chavez|1946-02-12|  M|   7.0|         12.0|           5.0|      12.98|edgardo9341@wooho...|758 Green Butterf...|     Crescentvillage|          Maine|  81750|
| 474|       Minerva Solis|1982-09-05|  F|   2.0|         15.0|           6.0|       3.55|minerva_solis961@...|     782 Common Edge|       Martins Ferry|  West Virginia|  13878|
|  65|         Jasmine Vos|1942-08-24|  F|   5.0|         13.0|          null|       null|vos8677@coldmail.com|      P.O. Box 56722|             La Veta|        Vermont|  72685|
| 191|         Arlen Downs|1945-10-07|  N|   5.0|         11.0|           3.0|       0.87|arlen9022@woohoo.com|      732 Lazy Apple|             Manning|          Maine|  27845|
| 418|      Reid Schneider|1956-08-31|  M|   2.0|          6.0|           4.0|       9.85|schneider4464@hma...| 701 Hazy Dale Union|           Waterbury|       Maryland|  20081|
| 541|Tristan van der G...|1952-09-11|  M|   4.0|         13.0|          null|       null|tristan1307@coldm...|      P.O. Box 72903|               Gabbs|      Tennessee|  85285|
| 558|       Hedwig Mooney|2004-05-22|  F|   8.0|          6.0|           1.0|      12.38|hedwig391@inlook.com|  622 Cinder Seventh|             Du Pont|       Arkansas|  00563|
| 222|         Ali de Kock|1960-03-12|  M|   7.0|          4.0|           1.0|      14.87|dekock3427@coldma...|      P.O. Box 63561|              Arnett|    Mississippi|  26124|
| 270|Hobert van der Peijl|1990-09-06|  M|   7.0|          5.0|           4.0|      22.49|hobert2230@woohoo...|      P.O. Box 36183|        Clintonville|       Michigan|  89366|
| 293|     Simone Davidson|1958-04-22|  F|   1.0|          4.0|           4.0|      15.52|simone3163@woohoo...|    853 Amber Willow|      South Coventry|        Wyoming|  52657|
| 730|   Kimberlee Serrano|1984-04-05|  F|   1.0|          3.0|           3.0|      11.49|serrano7645@coldm...| 61 Clear Throughway|             Coleman|     Washington|  23610|
| 243|          Elias Wise|1978-02-17|  M|   3.0|          8.0|           9.0|       30.7|  wise4765@hmail.com|   193 Embers Parade|     Fieldon village|      Louisiana|  28371|
| 278|   Roxanne van Soest|1972-04-20|  F|   1.0|         10.0|           7.0|       6.38|roxanne3293@wooho...|652 Emerald Circl...|          Enterprise|           Utah|  97710|
| 367|          Lexie Hale|1942-06-11|  N|   7.0|         15.0|           2.0|       1.98|  hale4143@hmail.com|       628 Mall Land|          Costa Mesa|           Iowa|  25391|
| 442|    Humberto Emerson|1986-10-27|  M|   4.0|          4.0|          10.0|       3.03|humberto_emerson3...|290 Umber Trafficway|             Bucyrus|      Wisconsin|  12080|
| 705|         Luci Konijn|1964-03-21|  N|   4.0|          5.0|          10.0|       2.54|luci4431@coldmail...|      P.O. Box 98364|               China|       Delaware|  57571|
| 720| Toby van Riemsdaijk|2000-11-01|  M|   1.0|         10.0|           6.0|      11.44|  toby4174@hmail.com|          785 N Flat|         Philipsburg|       Delaware|  03685|
|  19|      Dominic Werner|1973-09-29|  M|   5.0|         14.0|           8.0|      22.84|werner3867@coldma...|      P.O. Box 70430|             Laramie|         Nevada|  56963|
|  54|      Lannie Frazier|1987-12-23|  F|   3.0|          2.0|           1.0|       4.76|frazier8553@coldm...|      769 Green Edge| Ocean Beach village| South Carolina|  63560|
+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+
only showing top 20 rows

In [19]:
# Extract the year from the birthdate and store it as its own value to make it easier to access it for further analytics

student_df = student_df.withColumn('birth_year', f.array_join(f.slice(f.split(student_df.birthdate, '-'),1,1),''))
student_df.show()

+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+----------+
|uuid|                name| birthdate|sex|job_id|courses_count|career_path_id|hours_spent|       email_address|              street|                city|          state|zipcode|birth_year|
+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+----------+
|  26|       Doug Browning|1970-06-08|  M|   7.0|         null|           5.0|       1.92| doug7761@inlook.com|      P.O. Box 15845|              Devine|        Florida|  23097|      1970|
|  29|      Edgardo Chavez|1946-02-12|  M|   7.0|         12.0|           5.0|      12.98|edgardo9341@wooho...|758 Green Butterf...|     Crescentvillage|          Maine|  81750|      1946|
| 474|       Minerva Solis|1982-09-05|  F|   2.0|         15.0|           6.0|       3.55|minerva_solis961@...|     782 Common Edge|       Martins Ferry|  West Virginia|  13878|      1982|
|  65|         Jasmine Vos|1942-08-24|  F|   5.0|         13.0|          null|       null|vos8677@coldmail.com|      P.O. Box 56722|             La Veta|        Vermont|  72685|      1942|
| 191|         Arlen Downs|1945-10-07|  N|   5.0|         11.0|           3.0|       0.87|arlen9022@woohoo.com|      732 Lazy Apple|             Manning|          Maine|  27845|      1945|
| 418|      Reid Schneider|1956-08-31|  M|   2.0|          6.0|           4.0|       9.85|schneider4464@hma...| 701 Hazy Dale Union|           Waterbury|       Maryland|  20081|      1956|
| 541|Tristan van der G...|1952-09-11|  M|   4.0|         13.0|          null|       null|tristan1307@coldm...|      P.O. Box 72903|               Gabbs|      Tennessee|  85285|      1952|
| 558|       Hedwig Mooney|2004-05-22|  F|   8.0|          6.0|           1.0|      12.38|hedwig391@inlook.com|  622 Cinder Seventh|             Du Pont|       Arkansas|  00563|      2004|
| 222|         Ali de Kock|1960-03-12|  M|   7.0|          4.0|           1.0|      14.87|dekock3427@coldma...|      P.O. Box 63561|              Arnett|    Mississippi|  26124|      1960|
| 270|Hobert van der Peijl|1990-09-06|  M|   7.0|          5.0|           4.0|      22.49|hobert2230@woohoo...|      P.O. Box 36183|        Clintonville|       Michigan|  89366|      1990|
| 293|     Simone Davidson|1958-04-22|  F|   1.0|          4.0|           4.0|      15.52|simone3163@woohoo...|    853 Amber Willow|      South Coventry|        Wyoming|  52657|      1958|
| 730|   Kimberlee Serrano|1984-04-05|  F|   1.0|          3.0|           3.0|      11.49|serrano7645@coldm...| 61 Clear Throughway|             Coleman|     Washington|  23610|      1984|
| 243|          Elias Wise|1978-02-17|  M|   3.0|          8.0|           9.0|       30.7|  wise4765@hmail.com|   193 Embers Parade|     Fieldon village|      Louisiana|  28371|      1978|
| 278|   Roxanne van Soest|1972-04-20|  F|   1.0|         10.0|           7.0|       6.38|roxanne3293@wooho...|652 Emerald Circl...|          Enterprise|           Utah|  97710|      1972|
| 367|          Lexie Hale|1942-06-11|  N|   7.0|         15.0|           2.0|       1.98|  hale4143@hmail.com|       628 Mall Land|          Costa Mesa|           Iowa|  25391|      1942|
| 442|    Humberto Emerson|1986-10-27|  M|   4.0|          4.0|          10.0|       3.03|humberto_emerson3...|290 Umber Trafficway|             Bucyrus|      Wisconsin|  12080|      1986|
| 705|         Luci Konijn|1964-03-21|  N|   4.0|          5.0|          10.0|       2.54|luci4431@coldmail...|      P.O. Box 98364|               China|       Delaware|  57571|      1964|
| 720| Toby van Riemsdaijk|2000-11-01|  M|   1.0|         10.0|           6.0|      11.44|  toby4174@hmail.com|          785 N Flat|         Philipsburg|       Delaware|  03685|      2000|
|  19|      Dominic Werner|1973-09-29|  M|   5.0|         14.0|           8.0|      22.84|werner3867@coldma...|      P.O. Box 70430|             Laramie|         Nevada|  56963|      1973|
|  54|      Lannie Frazier|1987-12-23|  F|   3.0|          2.0|           1.0|       4.76|frazier8553@coldm...|      769 Green Edge| Ocean Beach village| South Carolina|  63560|      1987|
+----+--------------------+----------+---+------+-------------+--------------+-----------+--------------------+--------------------+--------------------+---------------+-------+----------+
only showing top 20 rows

In [20]:
# Count the null/nan/missing values in each column
student_df.select([f.count(f.when(f.col(col).isNull() | f.isnan(col),col)).alias(f'{col}_Missing_Count') for col in student_df.columns]).show()

+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|uuid_Missing_Count|name_Missing_Count|birthdate_Missing_Count|sex_Missing_Count|job_id_Missing_Count|courses_count_Missing_Count|career_path_id_Missing_Count|hours_spent_Missing_Count|email_address_Missing_Count|street_Missing_Count|city_Missing_Count|state_Missing_Count|zipcode_Missing_Count|birth_year_Missing_Count|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|                 0|                 0|                      0|                0|                   5|                        251|                         471|                      471|                          0|                   0|                 0|                  0|                    0|                       0|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+

In [21]:
# Create a new dataframe with the missing information instead of deleting it so it can be used to look into the reasons for missing data
student_df_missing_info = student_df.exceptAll(student_df.dropna())
student_df_missing_info.select([f.count(f.when(f.col(col).isNull() | f.isnan(col),col)).alias(f'{col}_Missing_Count') for col in student_df_missing_info.columns]).show()

+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|uuid_Missing_Count|name_Missing_Count|birthdate_Missing_Count|sex_Missing_Count|job_id_Missing_Count|courses_count_Missing_Count|career_path_id_Missing_Count|hours_spent_Missing_Count|email_address_Missing_Count|street_Missing_Count|city_Missing_Count|state_Missing_Count|zipcode_Missing_Count|birth_year_Missing_Count|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|                 0|                 0|                      0|                0|                   5|                        251|                         471|                      471|                          0|                   0|                 0|                  0|                    0|                       0|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+

In [22]:
# Drop the null/nan/missing values from the dataframe now that they have been stored in another
student_df = student_df.dropna()
student_df.select([f.count(f.when(f.col(col).isNull() | f.isnan(col),col)).alias(f'{col}_Missing_Count') for col in student_df.columns]).show()

+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|uuid_Missing_Count|name_Missing_Count|birthdate_Missing_Count|sex_Missing_Count|job_id_Missing_Count|courses_count_Missing_Count|career_path_id_Missing_Count|hours_spent_Missing_Count|email_address_Missing_Count|street_Missing_Count|city_Missing_Count|state_Missing_Count|zipcode_Missing_Count|birth_year_Missing_Count|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+
|                 0|                 0|                      0|                0|                   0|                          0|                           0|                        0|                          0|                   0|                 0|                  0|                    0|                       0|
+------------------+------------------+-----------------------+-----------------+--------------------+---------------------------+----------------------------+-------------------------+---------------------------+--------------------+------------------+-------------------+---------------------+------------------------+

In [23]:
# Sort the student_df columns and cast them to the right dtype
sorted_columns = ['uuid', 'name', 'birthdate', 
                  'birth_year', 'sex', 'email_address',
                  'street', 'city', 'state', 'zipcode',
                  'job_id', 'courses_count', 'career_path_id',
                  'hours_spent']
column_dtypes = [IntegerType(), StringType(), DateType(),
                 IntegerType(), StringType(), StringType(),
                 StringType(), StringType(), StringType(), IntegerType(),
                 IntegerType(), IntegerType(), IntegerType(),
                 FloatType()]
for key,value in dict(zip(sorted_columns,column_dtypes)).items():
    student_df = student_df.withColumn(key, student_df[key].cast(value))
student_df = student_df.select(*sorted_columns)
student_df.show()
student_df.dtypes

+----+--------------------+----------+----------+---+--------------------+--------------------+--------------------+---------------+-------+------+-------------+--------------+-----------+
|uuid|                name| birthdate|birth_year|sex|       email_address|              street|                city|          state|zipcode|job_id|courses_count|career_path_id|hours_spent|
+----+--------------------+----------+----------+---+--------------------+--------------------+--------------------+---------------+-------+------+-------------+--------------+-----------+
|  29|      Edgardo Chavez|1946-02-12|      1946|  M|edgardo9341@wooho...|758 Green Butterf...|     Crescentvillage|          Maine|  81750|     7|           12|             5|      12.98|
| 474|       Minerva Solis|1982-09-05|      1982|  F|minerva_solis961@...|     782 Common Edge|       Martins Ferry|  West Virginia|  13878|     2|           15|             6|       3.55|
| 191|         Arlen Downs|1945-10-07|      1945|  N|arlen9022@woohoo.com|      732 Lazy Apple|             Manning|          Maine|  27845|     5|           11|             3|       0.87|
| 418|      Reid Schneider|1956-08-31|      1956|  M|schneider4464@hma...| 701 Hazy Dale Union|           Waterbury|       Maryland|  20081|     2|            6|             4|       9.85|
| 558|       Hedwig Mooney|2004-05-22|      2004|  F|hedwig391@inlook.com|  622 Cinder Seventh|             Du Pont|       Arkansas|    563|     8|            6|             1|      12.38|
| 222|         Ali de Kock|1960-03-12|      1960|  M|dekock3427@coldma...|      P.O. Box 63561|              Arnett|    Mississippi|  26124|     7|            4|             1|      14.87|
| 270|Hobert van der Peijl|1990-09-06|      1990|  M|hobert2230@woohoo...|      P.O. Box 36183|        Clintonville|       Michigan|  89366|     7|            5|             4|      22.49|
| 293|     Simone Davidson|1958-04-22|      1958|  F|simone3163@woohoo...|    853 Amber Willow|      South Coventry|        Wyoming|  52657|     1|            4|             4|      15.52|
| 730|   Kimberlee Serrano|1984-04-05|      1984|  F|serrano7645@coldm...| 61 Clear Throughway|             Coleman|     Washington|  23610|     1|            3|             3|      11.49|
| 243|          Elias Wise|1978-02-17|      1978|  M|  wise4765@hmail.com|   193 Embers Parade|     Fieldon village|      Louisiana|  28371|     3|            8|             9|       30.7|
| 278|   Roxanne van Soest|1972-04-20|      1972|  F|roxanne3293@wooho...|652 Emerald Circl...|          Enterprise|           Utah|  97710|     1|           10|             7|       6.38|
| 367|          Lexie Hale|1942-06-11|      1942|  N|  hale4143@hmail.com|       628 Mall Land|          Costa Mesa|           Iowa|  25391|     7|           15|             2|       1.98|
| 442|    Humberto Emerson|1986-10-27|      1986|  M|humberto_emerson3...|290 Umber Trafficway|             Bucyrus|      Wisconsin|  12080|     4|            4|            10|       3.03|
| 705|         Luci Konijn|1964-03-21|      1964|  N|luci4431@coldmail...|      P.O. Box 98364|               China|       Delaware|  57571|     4|            5|            10|       2.54|
| 720| Toby van Riemsdaijk|2000-11-01|      2000|  M|  toby4174@hmail.com|          785 N Flat|         Philipsburg|       Delaware|   3685|     1|           10|             6|      11.44|
|  19|      Dominic Werner|1973-09-29|      1973|  M|werner3867@coldma...|      P.O. Box 70430|             Laramie|         Nevada|  56963|     5|           14|             8|      22.84|
|  54|      Lannie Frazier|1987-12-23|      1987|  F|frazier8553@coldm...|      769 Green Edge| Ocean Beach village| South Carolina|  63560|     3|            2|             1|       4.76|
| 296|       Corie Morales|1968-12-18|      1968|  F|morales1327@wooho...|      P.O. Box 19024|           Paragonah|       Illinois|   2654|     4|            7|             1|      17.01|
| 277|        Kermit Stein|1971-05-21|      1971|  M|kermit7822@woohoo...|   893 Log Highlands|         Port Graham|      Tennessee|  60703|     4|           12|             4|      22.68|
| 348|  Marshall Palsgraaf|1994-08-12|      1994|  N|marshall_palsgraa...|     801 Clear Ridge|   Coldwater village|         Oregon|  86038|     7|            6|             9|       4.72|
+----+--------------------+----------+----------+---+--------------------+--------------------+--------------------+---------------+-------+------+-------------+--------------+-----------+
only showing top 20 rows

[('uuid', 'int'),
 ('name', 'string'),
 ('birthdate', 'date'),
 ('birth_year', 'int'),
 ('sex', 'string'),
 ('email_address', 'string'),
 ('street', 'string'),
 ('city', 'string'),
 ('state', 'string'),
 ('zipcode', 'int'),
 ('job_id', 'int'),
 ('courses_count', 'int'),
 ('career_path_id', 'int'),
 ('hours_spent', 'float')]

## course_df transformation
The student_df career_path_id values will be inspected to see if these match with those in the course_df. 

Since course_df is a small dataframe with few dimensions, if this check is passed then there will be no need to transform it.

In [24]:
student_df.groupBy('career_path_id').count().orderBy('career_path_id').show()

+--------------+-----+
|career_path_id|count|
+--------------+-----+
|             1|  437|
|             2|  428|
|             3|  442|
|             4|  401|
|             5|  446|
|             6|  432|
|             7|  433|
|             8|  420|
|             9|  417|
|            10|  437|
+--------------+-----+

In [25]:
course_df.show()

+--------------+--------------------+-----------------+
|career_path_id|    career_path_name|hours_to_complete|
+--------------+--------------------+-----------------+
|             1|      data scientist|               20|
|             2|       data engineer|               20|
|             3|        data analyst|               12|
|             4|software engineering|               25|
|             5|    backend engineer|               18|
|             6|   frontend engineer|               20|
|             7|       iOS developer|               27|
|             8|   android developer|               27|
|             9|machine learning ...|               35|
|            10|      ux/ui designer|               15|
+--------------+--------------------+-----------------+

## job_df

Like the course_df, the jobs_df has few data entries. 
During the initial exploration there were some duplicate entries therefore they'll be removed

In [26]:
job_df.groupby('job_id').count().show()

+------+-----+
|job_id|count|
+------+-----+
|     1|    1|
|     2|    1|
|     3|    2|
|     4|    2|
|     6|    1|
|     5|    2|
|     7|    1|
|     8|    1|
|     0|    1|
|     9|    1|
+------+-----+

In [27]:
job_df = job_df.dropDuplicates()
job_df.show()
job_df.dtypes

+------+------------------+----------+
|job_id|      job_category|avg_salary|
+------+------------------+----------+
|     1|         analytics|     86000|
|     2|          engineer|    101000|
|     3|software developer|    110000|
|     4|          creative|     66000|
|     5|financial services|    135000|
|     6|         education|     61000|
|     7|                HR|     80000|
|     8|           student|     10000|
|     9|        healthcare|    120000|
|     0|             other|     80000|
+------+------------------+----------+

[('job_id', 'bigint'), ('job_category', 'string'), ('avg_salary', 'bigint')]

## Create the tables that will be loaded to the new db
The student df columns are the following: 
['uuid', 'name', 'birthdate', 
'birth_year', 'sex', 'email_address',
'street', 'city', 'state', 'zipcode',
'job_id', 'courses_count', 'career_path_id',
'hours_spent']

In order to create a more managable and faster resulting dataframe, they will be split in the following way:

### student_information
1. uuid
2. name
3. job_id
4. career_path_id

### student_details
1. uuid
2. birthdate
3. birth_year
4. sex

### student_studies
1. uuid
2. courses_count
3. hours_spent

### student_contact
1. uuid
2. email_address
3. street
4. city
5. state
6. zipcode

Along the course_df and job_df. The missing_information dataframe will be fully joined and uploaded in a separate table.

In [28]:
# Create the tables in the new database for each dataframe
con = sqlite3.connect(os.path.join('dev','cademycode_updated.db'))
cur = con.cursor()

# Student information
cur.execute('''CREATE TABLE IF NOT EXISTS student_information (
                uuid  INTEGER,
                name TEXT,
                job_id INTEGER,
                career_path_id INTEGER,
                timestamp TEXT)''')
# Student details
cur.execute('''CREATE TABLE IF NOT EXISTS student_details (
                uuid INTEGER,
                birthdate TEXT,
                birth_year INTEGER,
                sex VARCHAR(1))''')
# Student studies
cur.execute('''CREATE TABLE IF NOT EXISTS student_studies (
                uuid INTEGER,
                courses_count INTEGER,
                hours_spent REAL)''')
# Student contact
cur.execute('''CREATE TABLE IF NOT EXISTS student_contact(
                uuid INTEGER,
                email_address TEXT,
                street TEXT,
                city TEXT,
                state TEXT,
                zipcode INTEGER)''')
# Course information
cur.execute('''CREATE TABLE IF NOT EXISTS course_info (
                career_path_id INTEGER,
                career_path_name TEXT,
                hours_to_complete INTEGER)''')
# Job information
cur.execute('''CREATE TABLE IF NOT EXISTS job_info (
                job_id INTEGER,
                job_category TEXT,
                avg_salary INTEGER)''')
# Missing information 
cur.execute('''CREATE TABLE IF NOT EXISTS missing_data_entries (
                uuid INTEGER,
                name TEXT,
                birthdate TEXT,
                birth_year INTEGER,
                sex VARCHAR(1),
                email_address TEXT,
                street TEXT,
                city TEXT,
                state TEXT,
                zipcode INTEGER,
                job_id INTEGER,
                courses_count INTEGER,
                career_path_id INTEGER,
                hours_spent REAL,
                timestamp TEXT)''')
# Confirm tables were created
print(cur.execute('''SELECT name FROM sqlite_master''').fetchall())
# Commit changes
con.commit()
# Close connection
cur.close()
con.close()

[('student_information',), ('student_details',), ('student_studies',), ('student_contact',), ('job_info',), ('missing_data_entries',), ('course_info',)]

In [29]:
mode = 'overwrite'
jdbc_url = 'jdbc:sqlite:dev/cademycode_updated.db'

In [30]:
student_df = student_df.withColumn('loaded_on_date',f.current_timestamp())

student_df.select(*['uuid', 'name', 'job_id', 'career_path_id', 'loaded_on_date']) \
                    .write.jdbc(url=jdbc_url, mode=mode, table='student_information')

In [31]:
student_df.select(*['uuid','birthdate','birth_year','sex'])\
                .write.jdbc(url=jdbc_url, mode=mode, table='student_details')

In [32]:
student_df.select(*['uuid','courses_count','hours_spent'])\
                .write.jdbc(url=jdbc_url, mode=mode, table='student_studies')

In [33]:
student_df.select(*['uuid','email_address','street','city','state','zipcode'])\
                .write.jdbc(url=jdbc_url, mode=mode, table='student_contact')

In [61]:
course_df.select(*course_columns)\
            .write.format('jdbc').option('url',jdbc_url).option('mode','append').option('dbtable','course_info')

In [ ]:
job_df.select(*job_columns)\
                .write.jdbc(url=jdbc_url, mode=mode, table='job_info')

In [ ]:
student_df_missing_info.select(*sorted_columns)\
                    .withColumn('loaded_on_date',f.current_timestamp()) \
                    .write.jdbc(url=jdbc_url, mode=mode, table='missing_data_entries')